<style>
  h1{
    margin-top: 2%;
    margin-left: 8%;
  }
  h5{
    margin-top: 1%;
    margin-left: 8%;
  }

  #newboton{
    margin-left: 2rem ;
    width : 10em;
  }
  #conteiner_row{
    margin-left: 10%;
    margin-right: 0px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #lista{
    width : auto;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #d4d3d4;
    background-opacity: 0.8;
  }
  #butoncito{
    margin-top: 0;
    margin-bottom: 3%;
    width: 60%;
    align: center;
  }
  #tablaa{
    color: #212529;
  }
  #tablaa:hover{
    text-decoration: underline;
  }
  #tj{
    width:100%;
    border: 1px solid;
    border-color: grey;
    border-collapse:collapse;
    border-radius:6px;
    box-shadow: 0 0 0 1px #666;
    background-color: #fff;
  }
  #lel{
    text-align: center;
    width: 60%;
    background-color: red;
  }
  #lel:hover,#lel2:hover{
    text-decoration: none;
    color: white;
    opacity: 0.8;
  }
  #lel2{
    text-align: center;
    width: 60%;
    background-color: green;

  }
  #botons{
    width: 60%;
    text-align: center;
    margin-left:20%;
    margin-right:20%;
    margin-top:2%;

  }
</style>
<div id="jugadores">
  <title>Evaluaciones | Data</title>
  <h1>Periodos de Evaluación</h1>
  <div class="row" id="botons">
    <div class="col">
    <%= link_to "Nuevo Periodo", new_ename_path, class: ["btn", "btn-primary"], id:"butoncito" %>
    </div>
    <div class="col">
    <%= link_to 'Volver a Evaluaciones', evaluaciones_path , class: ["btn", "btn-primary"], id:"butoncito"%>
    </div>
  </div>
  <div class="card-header pb-0" id="lista">
    <div class="card-body">
      <table class="table table-striped" style="width:100%" id="tj">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha</th>
          <th scope="col" colspan="1"> </th>
        </tr>
        </thead>
        <tbody>
        <% @enames.reverse_each do |ename| %> 
          <tr>
            <td style="vertical-align: middle;"># <%= ename.id %></td>
            <td style="vertical-align: middle;"><%= ename.title %></td>
            <td style="vertical-align: middle;"><%= ename.created_at.strftime('%d-%m-%G') %></td>
            <td style="vertical-align: middle;"><%= link_to "Delete", ename_path(ename), data: { turbo_method: "delete", turbo_confirm: "Borrar el periodo borrará todas las evaluaciones asociadas al mismo." }, class: ['btn', 'btn-danger']  %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>