<div data-jugador-name="<%= jugador.name %>" data-jugador-last_name1="<%= jugador.last_name1 %>">
    <tr data-link="<%= jugador_path(jugador) %>">
        <td><%= image_tag(jugador.avatar.attached? ? jugador.avatar : "profile.png", id:"avatares") %></td>
        <td style="vertical-align: middle;"><a id="tablaa" href="<%= jugador_url(jugador)%>"><%=jugador.name%> <%=jugador.last_name1 %></a></td>
        <td style="vertical-align: middle;"><%=jugador.posicion %></td>
        <td style="vertical-align: middle;"><%=jugador.categoria %></td>
        <%if jugador.deuda == true %>
        <td style="vertical-align: middle; "><a href="<%= jugador_url(jugador)%>" class="badge badge-pill badge-danger" id="lel">Deudor</a></td>
        <%else%>
        <td style="vertical-align: middle; "><a href="<%= jugador_url(jugador)%>" class="badge badge-pill badge-danger" id="lel2">Al Día</a></td>
        <%end%>
    </tr>
</div>