<p style="color: green"><%= notice %></p>
<title>Jugadores</title>
<style>
        h1{
          margin-top: 2%;
          margin-left: 8%;
        }

        #newboton{
          margin-left: 2rem ;
          width : 10em;
        }
        #conteiner_row{
          margin-left: 10%;
          margin-right: 0px;
          margin-top: 2%;
          margin-bottom: 2%;
        }
        #lista{
          width : auto;
          margin-left: 10%;
          margin-right: 10%;
          background-color: #d4d3d4;
          background-opacity: 0.8;
        }
        #avatares{
          border-radius: 50%;
          width: 45px;
          height: 45px;
        }
        #tablaa{
          color: #212529;
        }
        #tablaa:hover{
          text-decoration: underline;
        }
        #tj{
          width:100%;
          border: 1px solid;
          border-color: grey;
          border-collapse:collapse;
          border-radius:6px;
          box-shadow: 0 0 0 1px #666;
          background-color: #fff;
        }
        #lel{
          text-align: center;
          width: 60%;
          background-color: red;
        }
        #lel:hover,#lel2:hover{
          text-decoration: none;
          color: white;
          opacity: 0.8;
        }
        #lel2{
          text-align: center;
          width: 60%;
          background-color: green;

        }
      </style>
<div id="jugadores">
  <h1>Jugadores</h1>
  <div class="row" id="conteiner_row">
    <div class="col-md-auto">
    <a class="btn btn-primary" id="newboton" href= <%= new_jugador_path %> role="button">Nuevo Jugador</a>
    </div>
    <div class="col">
      <%= render partial: 'jugadors/jugador_sort_controls' %>
    </div>
  </div>
  <div class="card-header pb-0" id="lista">
    <div class="card-body">
      <table class="table table-striped" style="width:100%" id="tj">
        <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Posición</th>
            <th>Categoría</th>
            <th>Pagos</th>
          </tr>
        </thead>
        <tbody>
          <% @jugadors.each do |jugador| %>
            <tr data-link="<%= jugador_path(jugador) %>">
                <td><%= image_tag(jugador.avatar.attached? ? jugador.avatar : "profile.png", id:"avatares") %></td>
                <td style="vertical-align: middle;"><a id="tablaa" href="<%= jugador_url(jugador)%>"><%=jugador.name%> <%=jugador.last_name1 %></a></td>
                <td style="vertical-align: middle;"><%=jugador.posicion %></td>
                <td style="vertical-align: middle;"><%=jugador.categoria %></td>
                <%if jugador.deuda == true %>
                  <td style="vertical-align: middle; "><a href="<%= jugador_url(jugador)%>" class="badge badge-pill badge-danger" id="lel">Deudor</a></td>
                <%else%>
                  <td style="vertical-align: middle; "><a href="<%= jugador_url(jugador)%>" class="badge badge-pill badge-danger" id="lel2">Al Día</a></td>
                <%end%>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



			