<p style="color: green"><%= notice %></p>
<title>Jugadores</title>
<style>
        h1, h3{
          margin-top: 2%;
          margin-left: 8%;
        }

        #newboton{
          margin-left: 2rem ;
          width : 10em;
        }
        #conteiner_row{
          margin-left: 10%;
          margin-right: 10%;
          margin-top: 2%;
          margin-bottom: 2%;
        }
        #lista{
          width : auto;
          margin-left: 10%;
          margin-right: 10%;
          background-color: #d4d3d4;
          background-opacity: 0.8;
        }
        #avatares{
          border-radius: 50%;
          width: 45px;
          height: 45px;
        }
        #tablaa{
          color: #212529;
        }
        #tablaa:hover{
          text-decoration: underline;
        }
        #tj{
          width:100%;
          border: 1px solid;
          border-color: grey;
          border-collapse:collapse;
          border-radius:6px;
          box-shadow: 0 0 0 1px #666;
          background-color: #fff;
        }
        #lel{
          text-align: center;
          width: 60%;
          background-color: red;
        }
        #lel:hover,#lel2:hover{
          text-decoration: none;
          color: white;
          opacity: 0.8;
        }
        #lel2{
          text-align: center;
          width: 60%;
          background-color: green;

        }
      </style>
<div id="jugadores">
  <h1>Jugadores</h1>
  <div class="row" id="conteiner_row">
    <div class="col-3" style="margin-top:1%;">
      <a class="btn btn-primary" id="newboton" href= <%= new_jugador_path %> role="button">Nuevo Jugador</a>
    </div>
    <div class="col" style="margin-top:1%;">
      <%= render partial: 'jugadors/jugador_sort_controls' %>
    </div>
    <div class="col-auto" style="margin-top:1%;">
        <%= form_tag(busqueda_path, :method => "get") do %>
          <div class="row">
            <div class="col-auto">
              <%= search_field_tag :search, params[:search], placeholder: "Jugador", class:"form-control me-2" %>
            </div>
            <div class="col-auto">
              <%= button_tag  "Buscar", :class => "btn btn-outline-primary", :name => nil %>
            </div>
          </div>
        <%end%>

    </div>
  </div>
  <h3>Resultados de la Busqueda</h3>
  <div class="card-header pb-0" id="lista">
    <div class="card-body">
      <table class="table table-striped" style="width:100%" id="tj">
        <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Posición</th>
            <th>Categoría</th>
            <th>Pagos</th>
          </tr>
        </thead>
        <tbody>
          <div class="row jugadors-list">
            <% @jugadors.each do |jugador| %>
              <%= render partial: 'jugadors/jugador_tile', locals: { jugador: jugador } %>
            <% end %>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>



			