
<h1>Users and Personal Administration</h1>

<div class="row ml-0 mt-2">
  <p>As a Supervisor you can give attributes of Suppport Executive to Users</p>
</div>
<div class="row ml-0">
  <table class="table">
    <thead>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">eMail</th>
      <th scope="col">Range</th>
      <th scope="col">Actions</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id%></td>
          <td><%= user.name + " " + user.last_name %></td>
          <td><%= user.email%></td>
          <td><%= user.name + " " + user.last_name %></td></td>
          <td>

          
          
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>
    <%= link_to 'Home', root_path %>
  </p>
</div>
  

