<div class="container mt-5 text-center">
  <title>Evaluaciones Físicas</title>
  <h1>Evaluaciones Físicas</h1>
  <div class="row" style="margin-top: 3%;">
    <%= link_to 'Nueva Evaluacion Física', new_evaluacion_path , class: ["btn", "btn-primary"], id:"butoncito"%>
  </div>
</div>
<style>
  #row1{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border: 1px solid black;
    border-radius: 4px;
    
  }
  #butoncito{
    margin-top: 2%;
    margin-bottom: 3%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    align: center;
  }
  #deletebtn{
    text-align: right;
  }
  #lineas{
    white-space: pre-line
  }
  #lista{
    width : auto;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #d4d3d4;
    background-opacity: 0.8;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<div class="card-header pb-0" id="lista">
    <div class="card-body">
      <table class="table table-striped" style="width:100%" id="tj">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Jugador</th>
          <th scope="col">Fecha</th>
          <th scope="col" colspan="2"> </th>
        </tr>
        </thead>
        <tbody>
        <% @evaluacions.reverse_each do |ename| %> 
          <tr>
            <td style="vertical-align: middle;"># <%= ename.id %></td>
            <td style="vertical-align: middle;"><%= ename.title %></td>
            <td style="vertical-align: middle;"><%= Jugador.find_by(id: ename.jugador_id).fullname %></td>
            <td style="vertical-align: middle;"><%= ename.created_at.strftime('%d-%m-%G') %></td>
            <td style="vertical-align: middle;"><%= link_to 'Edit', edit_evaluacion_path(ename), class: ['btn', 'btn-secondary'] %></td>
            <td style="vertical-align: middle;"><%= link_to "Delete", evaluacion_path(ename), data: { turbo_method: "delete", turbo_confirm: "Borrar la evaluación borrará toda la información asociada." }, class: ['btn', 'btn-danger']  %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
