<h1>Ticket response</h1>
<h4> Priority and Support Executive edit.</h4>
<pre></pre>
<pre></pre>
<div class="row ml-0">
  <div class="col-6">
    <%= form_tag "/solve_request" do %>
      <div class="mb-3">
        <%= text_area_tag :temp_response, nil, placeholder: "response" %>
      </div>
      <div class="form-group mt-2">
      <%= submit_tag "response" , class: ["btn", "btn-primary"] %>
      <%= link_to "Send a response to the user.", { controller: "tickets", action: "load_request", id: @ticket.id }, method: :post, class: ["btn", "btn-primary"] %>
      <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
    </div>
    <% end %>
  </div>
</div>

<br>

<div>
  <%= link_to "Show this ticket", @ticket %> |
  <%= link_to "Back to tickets", tickets_path %>
</div>