<style>
  #conteiner_3{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 3%;
    margin-bottom: 2%;
    width : auto;
  }
  #form1{
    width : 100% ;
  }
  #form2{
    width : 60% ;
    margin-left: 20%;
    margin-right: 20%;
  }
  #formspace{
    margin-left: 10%;
    margin-right: 10%;
  }
  #datos{
    margin-bottom: 2%;
  }
  select{
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    background-color: #fff; 
  }
  #botones{
    margin-top: 2%;
  }

</style>
<div class="row ml-0" id="conteiner_3">
  <div class="col" id=formspace>
    <%= form_with model: o2, local: true do |form| %>
      <%= errors_for o2 %>
      <div class="row g-3">
        <div class="col-md-6">
          <div class="mb-3" id="form1">
            <%= form.label 'Nombre del O2', class: "form-label" %>
            <%= form.text_field :title, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3" id="form1">
            <%= form.label 'Nombre del Torneo', class: "form-label" %>
            <%= form.text_field :torneo, class: "form-control" %>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3" id="form1">
            <%= form.label "Categoría", class: "form-label" %>
            <%= form.select :categoria, ["Todo Competidor", "Senior", "Sub 20", "Sub 19", "Sub 18", "Sub 17", "Sub 16", "Sub 15", "Sub 14", "Sub 13", "Sub 12", "Escuelita"], class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3" id="form1">
            <%= form.label 'Fecha', class: "form-label" %>
            <%= form.date_field :fecha, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 1", class: "form-label" %>
            <%= form.collection_select(:j1, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 2", class: "form-label" %>
            <%= form.collection_select(:j2, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 3", class: "form-label" %>
            <%= form.collection_select(:j3, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 4", class: "form-label" %>
            <%= form.collection_select(:j4, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 5", class: "form-label" %>
            <%= form.collection_select(:j5, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 6", class: "form-label" %>
            <%= form.collection_select(:j6, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 7", class: "form-label" %>
            <%= form.collection_select(:j7, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 8", class: "form-label" %>
            <%= form.collection_select(:j8, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 9", class: "form-label" %>
            <%= form.collection_select(:j9, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 10", class: "form-label" %>
            <%= form.collection_select(:j10, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 11", class: "form-label" %>
            <%= form.collection_select(:j11, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
         <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 12", class: "form-label" %>
            <%= form.collection_select(:j12, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 13", class: "form-label" %>
            <%= form.collection_select(:j13, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
         <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 14", class: "form-label" %>
            <%= form.collection_select(:j14, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 15", class: "form-label" %>
            <%= form.collection_select(:j15, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
         <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 16", class: "form-label" %>
            <%= form.collection_select(:j16, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 17", class: "form-label" %>
            <%= form.collection_select(:j17, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
         <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 18", class: "form-label" %>
            <%= form.collection_select(:j18, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 19", class: "form-label" %>
            <%= form.collection_select(:j19, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
         <div class="col-md-12">
          <div class="mb-3" id="form2">
            <%= form.label "Jugador 20", class: "form-label" %>
            <%= form.collection_select(:j20, Jugador.all.order(created_at: :desc), :id, :fullname, {:prompt => 'Seleccione Jugador'}, { class: "form-control" }) %>
          </div>
        </div>
      </div>
      <div class="form-group mt-2 text-center" id="botones">
        <%= form.submit 'Guardar Jugador', class: 'btn btn-primary' %>
        <%= link_to "Volver", :back, class: ["btn", "btn-secondary"] %>
      </div>
    <% end %>
  </div>
</div>