<div id="<%= dom_id anuncio %>">
  <p>
    <strong>Title:</strong>
    <%= anuncio.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= anuncio.description %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= anuncio.categoria %>
  </p>

  <p>
    <strong>Remitente:</strong>
    <%= anuncio.remitente %>
  </p>

</div>
